<nav class="navbar navbar-expand-lg navbar-dark shadow" style="background-color: #306887;" >
  <div class="container-fluid">
    <a href="https://connexxity.in/"><img src="assets/logo/connexity.webp" alt="Connexxity" width="65px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
          <a class="nav-link" href="https://connexxity.in/home/">Home</a>
          <a class="nav-link" href="https://connexxity.in/about-us/">About Us</a>
          <a class="nav-link" href="https://connexxity.in/chennai-2/">Fire</a>
          <a href="https://connexxity.in/electrical/" class="nav-link">Electrical</a>
          <a href="https://connexxity.in/hvac/" class="nav-link">HVAC</a>
          <a href="https://connexxity.in/elv-system-2" class="nav-link">ELV System</a>
          <a href="https://connexxity.in/plumping/" class="nav-link">Plumbing</a>
          <a href="https://connexxity.in/mepf-calculator/" class="nav-link">Calculator</a>
          <a href="https://connexxity.in/contact-us-2/" class="nav-link">Contact Us</a>
      </div>
    </div> -->
  </div>
  </nav>